quizbot/
.DS_Store
*.swp
*.pyc
database_config.py
pylotVenv/*
__pycache__/*
Deployment.md
venv/*
system/*
setup
manage.py
app/config/*
*/database.py
slackapitoken.py
Pylot/errlog
Pylot/quizbot.ini
bot/*
Pylot/app/config/database.py
